/* header part */

.fv {
    background-image: url(../img/buildingList/Fv.png);
    height: 1012rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.fv>div {
    padding-top: 220rem;
    display: flex;
    gap: 120rem;
}

.fv_txt {
    padding-top: 128rem;
    width: 654rem;
}

.fv_txt h6 {
    padding-top: 137rem;
}

.fv_img img {
    width: 760rem;
    height: 489rem;
}

/* main part */

/* column part */

.ttl {
    margin-top: 104rem;
    text-align: center;
}

.col_main {
    margin-top: 56rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col_cell {
    width: 493rem;
    margin-bottom: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12rem;
    position: relative;
}

.col_cell_midi_bed img {
    width: 35rem;
    height: 18rem;
}

.col_cell_midi_bath img {
    width: 29.5rem;
    height: 21rem;
}

.col_cell_midi_globe img {
    width: 35rem;
    height: 25rem;
}

.col_cell:hover {
    box-shadow: 0 16px 32px 0px rgba(0, 0, 0, 0.9);
    background-color: #a5c6ed linear;
    transition: 0.2s linear;
}

.col_cell:hover .col_cell_main_img {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.col_cell_midi_cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail_btn {
    display: none;
}

.col_cell:hover .detail_btn {
    display: block;
    font-size: 18rem;
    left: 178rem;
    top: 146rem;
    position: absolute;
    background-color: unset;
    border: 2rem solid var(--white);
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-inline: 24rem;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.65);
    z-index: 10;
}

.col_cell_main_img {
    width: 470rem;
    height: 280rem;
}

.col_cell_midi {
    display: flex;
    justify-content: space-between;
    margin-left: 45rem;
    margin-right: 45rem;
}

.col_cell_midi div div {
    display: flex;
    gap: 12rem;
    align-items: center;
}

.col_cell_midi p {
    padding-left: 0 !important;
    padding-top: 4rem !important;
}

.col_cell h5,
.col_cell p {
    padding-top: 8rem;
    padding-left: 45rem;
}

.col_black_img {
    margin-top: 24rem;
    margin-bottom: 27rem;
    width: 430rem;
    height: 43rem;
    margin-left: 20rem;
}

.about {
    margin-top: 94rem;
    margin-left: 94rem;
    margin-right: 94rem;
    display: flex;
    justify-content: space-between;
}

.about_img {
    position: relative;
    background-image: url(../img/buildingList/undermain.png);
    width: 584rem;
    height: 458rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dec_icon {
    position: absolute;
    left: -33rem;
    top: 28rem;
    width: 70rem;
    height: 70rem;
}

.star_icon {
    position: absolute;
    bottom: -28rem;
    left: 277rem;
    width: 58rem;
    height: 58rem;
}

.about_txt {
    width: 675rem;
}

.about_txt>img {
    width: 220rem;
    height: 112rem;
}

.grp_icon {
    width: 72rem;
    height: 72rem;
}

.grp_img {
    width: 189rem;
    height: 51rem;
}

.about_txt_k {
    margin-top: 53rem;
    display: flex;
    gap: 24rem;
    align-items: center;
}

.about_txt_k>div {
    display: flex;
    gap: 12rem;
}

.about_txt_3k {
    display: flex;
    flex-direction: column;
}

.about_txt_3k div {
    margin-top: 8rem;
    display: flex;
    gap: 12rem;
    justify-content: center;
}

.about_txt_3k div p:last-child {
    color: var(--blue);
}

.about_txt button {
    margin-top: 24rem;
}

.intro {
    display: flex;
    gap: 72rem;
    margin-top: 320rem;
    background-color: var(--cyan);
    height: 186rem;
}

.intro h4,
.intro p {
    margin-top: 20rem;
}

.intro h4 {
    margin-top: 40rem;
}

.intro img {
    margin-top: -181rem;
    width: 640rem;
    height: 367rem;
}

/* responsive part */

@media (max-width:768px) {
    .fv_img img {
        width: 477rem;
        height: 304rem;
    }

    .fv {
        height: 1577rem;
    }

    .fv>div {

        padding-top: 174rem;
        flex-direction: column-reverse;
        align-items: center;
        gap: 11rem;
    }

    .fv_txt {
        padding-top: 49rem;
    }

    .fv_txt {
        padding-top: 49rem;
        text-align: center;
    }

    .fv_txt h6 {
        padding-top: 58rem;
    }

    .ttl {
        margin-top: -500rem;
    }

    .about_txt {
        width: 587rem;
    }

    .about {
        margin-top: 42rem;
        align-items: center;
        gap: 32rem;
        flex-direction: column-reverse;
    }

    .about h3 {
        font-size: 28rem;
    }

    .about_txt>img {
        width: 151rem;
        height: 67rem;
    }

    .intro {
        gap: 3rem;
        margin-top: 484rem;
        flex-direction: column;
        align-items: center;
    }

    .intro img {
        margin-top: -367rem;
    }

    .intro h4 {
        font-size: 28rem;
        text-align: center;
    }
}

@media (max-width:425px) {
    .col_cell:hover .detail_btn {
        left: 104rem;
        top: 113rem;
    }

    .fv {
        height: 1670rem;
    }

    .fv_img img {
        width: 361rem;
        height: 215rem;
    }

    .fv_txt {
        padding-top: 59rem;
        width: 367rem;
    }

    .ttl {
        margin-top: -603rem;
    }

    .col_cell_main_img {
        width: 323rem;
        height: 211rem;
    }

    .col_cell {
        width: 348rem;
    }

    .col_cell_midi {
        margin-left: 0;
        margin-right: 0;
    }

    .col_cell h5,
    .col_cell p {
        padding-left: 0;
    }

    .about_txt {
        width: 348rem;
    }

    .about_txt h4 {
        font-size: 28rem;
    }

    .about_txt_k {
        margin-top: 53rem;
        display: flex;
        gap: 24rem;
        flex-direction: column;
        align-items: center;
    }

    .about h3,
    .about p {
        text-align: center;
    }

    .about_txt button {
        margin-left: 88rem;
    }

    .about_img {
        width: 323rem;
        height: 250rem;
    }

    .star_icon {
        width: 30rem;
        height: 30rem;
        bottom: -16rem;
    }

    .dec_icon {
        width: 35rem;
        height: 35rem;
        left: -19rem;
    }

    .intro img {
        margin-top: -224rem;
        width: 380rem;
        height: 224rem;
    }

    .intro {
        margin-top: 311rem;
    }
}